# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*.txt

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


#Folder
.idea/
media/
component/
dist/
build/
app/RestFood.egg-info/
app/static/stylesheets/sass/.sass-cache
